<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Grapes</h2>
      <p>As bunches of goodness that come in sweet-sour clusters, grapes are in great demand all over Europe. They serve as natural antioxidants they contain high amounts of flavonoids that are known for their anti-aging properties. Grapes are used for the preparation of a host of sweet-savoury foods, condiments and beverages including wine, jam, juice, jelly, grape seed extract, raisins, vinegar, and grape seed oil. The two typed of commercially cultivated grapes include table grapes, that are eaten raw; and wine grapes, that are used in making wine.</p>

      <p>Maharashtra is India's most prominent grape-growing state wherein the quality checks and safety specifications cater perfectly to the European markets. For the same reason, at Talisman International, has set up its vineyards in many pockets of Maharashtra to provide the best quality grapes to its clientele all over the world. We are one of the leading exporters of Indian grapes in Europe, exporting quality produce in the varieties of Thompson seedless, Flame seedless and Black (Sharad) Seedless.</p>

      <p>In India, grapes are grown between January and April, with some early colored varieties that are also available in December.</p>

    </div>
    <div class="col-md-6">
      <img class="img-responsive pull-right" src="img/grape_thompson.jpg">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Thompson Seedless</h3>
      <p>Also known as the 'sultana,' this seedless variety of grape is usually light green or white with oval shaped berries. Most of the table grapes exported from India come from this variety.</p>
    </div>
    <div class="col-md-4">
      <h3>Jumbo Seedless</h3>
      <p>These grapes are similar to the Sharad Seedless in that they are also blackish-purple and oval-shaped. However their clusters are slightly bigger (with an average size of 22mm - 24mm) than the other varieties.</p>
    </div>
    <div class="col-md-4">
      <h3>Flame Seedless</h3>
      <p>This table grape cultivar is a hybrid grape grown as a cross between Thompson, Cardinal and other grape varieties. Since they do not ripen post harvest, these bunches are picked when already ripe. Good quality berries for this variety include judging its form to be plump, an attractive red in colour, and firmly attached to the stem.</p>
    </div>
    <div class="col-md-4">
      <h3>Sharad Seedless</h3>
      <p>Crisp to taste, these grapes vary in shades of black to purple. Each berry is usually medium-sized and oval-shaped.</p>
    </div>
    <div class="col-md-4">
      <h3>Sonaka Seedless</h3>
      <p>With elongated berries that look similar to the Thompson Seedless variety, these grapes are the second largest variety exported from India.</p>
    </div>
  </div>
</div>