<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Mandarines</h2>
      <p>"Citrus Reticula" also known as "Kinnow" is grown under natural conditions.  The Kinnow is sun-ripened on the trees before it is carefully hand picked at precisely the right time.</p> 

      <p>The Kinnow has a high brix level and 12-18 seeds per fruit.  The season starts at the beginning of December through to Mid March.</p>

      <p>The fruit is first selected by hand at the orchards.  Once seperated between Grade A, B and C, the Grade A product is then passed through our processing machine.</p>  

      <p>During the processing the fruit is washed, waxed and sized.  There are multiple quality control officers after each process to ensure only the best fruit is packed.</p>

      <p>This brand is our highest quality.  It can be found in Russia, Ukraine and all over the Gulf States.</p>
 
      <p>It comes in 10kg size.</p>
 
      <p>Caliber: 48, 54, 60, 66, 72, 80, 90, 100, 110</p>

    </div>
    <div class="col-md-6">
      <img class="img-responsive" src="img/mandarine_tasco.jpg">
    </div>
  </div>
</div>