<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>Dry Fruits &amp; Nuts</h2>
      <p>Talisman brand of Indian raisins and cashew nuts takes advantage of our experience in food business to get our clients the right quality products from the myriad of producers in India. The nuts/raisins are manufactured hygienically and only the right quality is selected for export.</p>

      <h2>Raisins</h2>
      <p>Indian Raisins are produced in the main grapes growing areas of Nasik and Sangli. They are a delicacy in Indian cuisine and eaten raw or used in cooking, baking and brewing. Raisin varieties depend on the type of grape used, and are made in a variety of sizes and colors including golden, brown, black, and yellow. Seedless varieties include Thompson, Black Seedless and Flame grapes. Raisins are traditionally sun-dried, but may also be water-dipped and artificially dehydrated. Raisins can contain up to 72% sugars by weight, most of which is fructose and glucose. They also contain about 3% protein and 3.7%-6.8% dietary fiber. Raisins, like prunes and apricots, are also high in certain antioxidants, but have a lower vitamin C content than fresh grapes. Raisins are low in sodium and contain no cholesterol.</p> 


    </div>
    <div class="col-md-3">
      <img class="img-responsive pull-right" src="img/raisins_deccanproduce.jpg">
    </div>
    
  </div>
  
  <div class="row">
      <div class="pull-right col-md-9">
        <h2>Cashew Nuts</h2>
          <p>Standard specifications for Indian cashew kernels for export are as below. Cashew Kernels are graded into white/scorched wholes, pieces, splits, butts etc. depending on the shape, size &amp; color of the kernel. Talisman exports cashew grown and processed hygienically at HACCP certified units.</p> 
          <p><strong>Grades exported by us are:</strong></p>
          <p>W – 180 is the ' King of Cashew ' - They are larger in size &amp; very expensive.</p>
          <p>W – 210 are popularly known as ' Jumbo ' nuts.</p>
          <p>W – 240 it is an attractive grade which is reasonably priced.</p>
          <p>W – 320 are the most popular &amp; highest in terms of availability Worldwide.</p>
          <p>W – 450 are the smallest &amp; cheapest white whole kernels &amp; the favorite among low priced whole grades.</p> 

          <p>Scorched wholes are another grade of cashew kernels, which have a slight brown color due to longer roasting. They have all the other characteristics of white kernels &amp; have the same nutritional qualities. Butts, splits &amp; pieces are priced lower &amp; are ideal for cooking, preparation of sweets &amp; savory snacks. </p>
      </div>
      <div class="col-md-3">
        <br>
        <img class="img-responsive pull-left" src="img/cashew-nuts.jpg">
      </div>
    </div>
</div>

  


























