<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Pomegranates</h2>
      <p>Red clusters of happiness, pomegranates are the ruby beads of nature that are pretty, tasty and come with a multitude of health benefits. The colour of this wonderful fruit comes from ellagic acid, a plant phenol antioxidant that is naturally found in nature, making it a storehouse of benefits for the one who consumes the fruit.</p>

      <p>Antioxidants are vital for the body as they help reduce the levels of bad cholesterol (LDL) as well as benefiting blood vessels by providing a relaxing effect on them.</p>

      <p>In Maharashtra pomegranates are one of the most important crops that are sold commercially, accounting for almost two-thirds of the country's entire export of the crop. Other states that also grow and export pomegranates are Gujarat, Rajasthan, Karnataka and Tamil Nadu.</p>

      <p>The size of this fruit ranges from 300-400 grams. Today since the bright red, clean skinned, and bold arils are in more demand because of their appearance, they seem to be in greater demand. Especially because the thick skin gives them a longer shelf life.</p>
    </div>
    <div class="col-md-6">
      <img class="img-responsive pull-right" src="img/pomegranate_ganesh.jpg">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Ganesh Variety Pomegranate</h3>
      <p>Ganesh variety is easier as the colour of the outer skin of the fruit is yellowish-pink with soft pink arils or fruit seeds.</p>
    </div>
    <div class="col-md-6">
      <h3>Bhagwa Variety Pomegranate</h3>
      <p>Bhagwa on the other hand is thick skinned and is saffron coloured on the outside.</p>
    </div>
    
  </div>
</div>