<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Pakistani Potatoes</h2>
      <p>Over the years, potato has become an important crop for both farmers and consumers in Pakistan.  It is the fourth biggest crop in volume of production, it is high yielding , having a high nutritive value and gives high returns to farmers.</p>
 
      <p>Pakistan is self sufficient in potatoes for household consumption and ranks in the worlds top 20 potato producing nations.</p>
 
      <p>We have various types of potatoes in two catagories; White skin potato (Diamant, Ajax, Pratones, Multa, Sanate) and Red Skin Potatoes (Desiree, Cardinal, Ultamis, Lala Faisal and Raja Symphonia).</p>

      <p>The Potatoes are packed in various way depending on our target market and customer needs.  We pack in mesh bags, jute bags, pp woven bags.</p>
 
      <p>Packing in 5/10/15/20/25/50KG bags.</p>
 
      <p>Caliber: &lt;45mm, 45-75mm</p>

    </div>
    <div class="col-md-6">
      <img style="height: 450px;" class="img-responsive pull-right" src="img/potato_tasco.jpg">
    </div>
  </div>
</div>