<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>Rice</h2>
      <p>Talisman exports the following varieties of rice. Our merchant export division takes care of most export of rice and grains. These are items that India is strong and our experience in the international markets and adherence to quality norms help our suppliers get the best in terms of quality and price. </p>

      <h2>Basmati Rice</h2>
      <p>'Bas' in Hindi language means "aroma" &amp; 'Mati' mean "full of" hence the word Basmati i.e. full of aroma. This rice is different from other rice mainly due to the aroma &amp; elongation post cooking. No other rice has this combined characteristic. It is remarkably long for rice, &amp; becomes longer still when cooked. It can be either brown or white with the brown variety having more flavors. When cooked, the rice is lighter &amp; more fluffy than standard white rice, &amp; does not stick together. The aroma &amp; it’s sweet taste have made basmati rice a delicacy. Basmati rice is grown only in Northern India &amp; in parts of Pakistan touching India.</p> 


    </div>
    <div class="col-md-3">
      <img class="img-responsive pull-right" src="img/basmati.jpg">
    </div>
    
  </div>
  
  <div class="row">
      <div class="pull-right col-md-9">
        <h2>Paraboiled Rice</h2>
          <p>Parboiled rice (also called converted rice) is rice that has been partially boiled in the husk. The three basic steps of parboiling are soaking, steaming &amp; drying. These steps also make rice easier to process by hand, boost its nutritional profile (other than its vitamin-B content, which is denatured) &amp; change its texture. About 50% of the world’s paddy production is parboiled. The treatment is practiced in many parts of the world such as India, Bangladesh, Pakistan, Myanmar, Malaysia, Nepal, Sri Lanka, Guinea, South Africa, Italy, Spain, Thailand, Switzerland, USA &amp;France.</p>
      </div>
      <div class="col-md-3">
        <br>
        <img class="img-responsive pull-left" src="img/parboiled-rice.jpg">
      </div>
    </div>

    <div class="row">
    <div class="col-md-9">
      <h2>Ponni Rice</h2>
      <p>Ponni Rice is a variety of rice developed by TAMILNADU Agricultural University in 1986. It is widely cultivated in India &amp; is a hybrid variety of Taichung65 &amp; Myang Ebos 6080/2 Since River Kaviri is also called 'Ponni' in Tamil literature there is a notion that the rice could have been named after the river. Ponni rice is the main ingredient of Idli, a breakfast dish.</p>

    </div>
    <div class="col-md-3">
      <img class="img-responsive pull-right" src="img/ponni-rice.jpg">
    </div>
    
  </div>

  <div class="row">
      <div class="pull-right col-md-9">
        <h2>Sona Masuri Rice</h2>
          <p>PSona Masuri (also, Sona Masoori, Samba Masuri, Jeela karra masuri) is medium-grain rice grown largely in the Indian states of Andhra Pradesh &amp; Karnataka. Sona Masuri It is lightweight &amp; aromatic. This premium variety of rice is mainly exported to USA, Canada, Europe, Australia, Singapore, Malaysia, &amp; Middle East countries such as Saudi Arabia, UAE, &amp; Qatar.</p>
      </div>
      <div class="col-md-3">
        <br>
        <img class="img-responsive pull-left" src="img/sona-masuri-rice.jpg">
      </div>
    </div>
</div>

  


























